body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #1f24c1; /* Web sayfasının arka plan rengi */
    color: #e21818; /* Metin rengi */
}

h1 {
    color: #00a800; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}